{% extends "base.html" %}
{% block content %}
<body>
    <section class="container mt-5">
        <h2 class="text-center">Catálogo de Productos</h2>
        <div class="row">
            <!-- Cards de Productos -->

            <!--LAMPARAS-->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/lamparas.jpg" class="card-img-top" alt="LAMPARAS">
                    <div class="card-body">
                        <h5 class="card-title">Lamparas de cristal</h5>
                        <p class="card-text">Hermosa iluminacion hecha por frascos reciclados</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>


            <!-- CANASTO -->


            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/canasto.jpg" class="card-img-top" alt="CANASTO">
                    <div class="card-body">
                        <h5 class="card-title">Canasto </h5>
                        <p class="card-text">Canasto hecho de diario reciclado</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>

             <!-- ADORNO FLORAL -->
            
             <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/adorno floral.jpg" class="card-img-top" alt="ADORNO FLORAL">
                    <div class="card-body">
                        <h5 class="card-title">Adorno floral</h5>
                        <p class="card-text">Adorno colgante hecho con tapas de botellas recicladas</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>

             <!-- MACETA  -->
            
             <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/maceta.jpg" class="card-img-top" alt="MACETA">
                    <div class="card-body">
                        <h5 class="card-title">Maceta</h5>
                        <p class="card-text">Maceteros hechos de latas recicladas</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>

             <!-- PORTA JOYAS -->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/porta joyas.jpg" class="card-img-top" alt="PORTA JOYAS">
                    <div class="card-body">
                        <h5 class="card-title">Porta joyas</h5>
                        <p class="card-text">Estandarte para posar joyeria hecho con rollos de confort reciclados</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>

            <!-- alcancia pig -->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/alcancia_debotella.jpg" class="card-img-top" alt="alcancia pig">
                    <div class="card-body">
                        <h5 class="card-title">Alcancia PIG</h5>
                        <p class="card-text">Alcancia hecha de botella con forma de cerdito</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>


            <!-- organizador de escritorio -->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/organizador_escritorio.jpg" class="card-img-top" alt="organizador de escritorio">
                    <div class="card-body">
                        <h5 class="card-title">Organizador de escritorio</h5>
                        <p class="card-text">Un util porta lapiz y organizador para escritorio</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>

           <!-- Espejo-->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/espejo.jpg" class="card-img-top" alt="Espejo">
                    <div class="card-body">
                        <h5 class="card-title">Espejo colgable</h5>
                        <p class="card-text">Un hermoso adorno para el hoga hecho en base a rollos de carton reciclados</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>
            <!-- Vasos Personalizados -->

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="imagenes/vasos.jpg" class="card-img-top" alt="Vasos Personalizados">
                    <div class="card-body">
                        <h5 class="card-title">Vasos de botella</h5>
                        <p class="card-text">Un vaso hermoso y personalizado, en base a botellas de vidrio recicladas</p>
                        <a href="#" class="btn btn-primary">Lo quiero</a>
                    </div>
                </div>
            </div>
    </section>
</body>

{% endblock %}